<div class="summer-promo-steps">
	<div class="summer-promo-steps__container fx-animation-sequence-all">
		<div class="summer-promo-steps__sun-container animated" data-animate="fx-animation-fadeIn">
			<p><%- i18n.fx('page_promoAsia_text5')%></p>
		</div>
		<div class="summer-promo-steps__phone-img animated" data-animate="fx-animation-fadeIn">
			<img class="summer-promo-steps__phone-img_mobile" src="https://direct-landings.azureedge.net/assets/img/pages/summer/summer_phone_mobile.webp" alt="">
			<img class="summer-promo-steps__phone-img_desktop" src="https://direct-landings.azureedge.net/assets/img/pages/summer/summer_phone.webp" alt="">
		</div>
		<div class="summer-promo-steps__mt4 animated" data-animate="fx-animation-fadeIn">
			<img src="https://direct-landings.azureedge.net/assets/img/pages/summer/mt4.svg" alt="sun">
			<p><%- i18n.fx('page_promoAsia_text6')%></p>
			<a href="#" rel="nofollow noopener" class="direct-register-link"><%- i18n.fx('section_tradingIdeas_getIdeasLinkTitle')%> →</a>
		</div>
	</div>
</div>